<body>
<div style="width: 640px; font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size: 11px;">
<div align="center"><img src="images/phpmailer.gif" style="height: 90px; width: 340px"></div><br />
<br />
&nbsp;This is a test of PHPMailer v5.0.0 for PHP5/6.<br />
<br />
This particular example uses <strong>HTML</strong>, with a &lt;div&gt; tag and inline<br />
styles.<br />
<br />
Also note the use of the PHPMailer at the top with no specific code to handle
including it in the body of the email.</div>


</body>
